<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">寶晶能源庫存管理系統</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">首頁
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Comp_list' %}">廠商</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Project_list' %}">專案</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Ina_list' %}">寶晶單位</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Warehouse_list' %}">倉庫</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Cate_list' %}">分類</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Item_list' %}">庫存清單</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Stockv3_list' %}">庫存進出貨清單</a>
          </li>
          <li class="nav-item">
            {% if request.user.is_authenticated %}
            <a class="nav-link" href="/accounts/logout/">登出 {{ user.get_username }}</a>
            {% else %}
            <a class="nav-link" href="/accounts/login/">登入</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  {% block content %}{% endblock %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %} "></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'custom/js/custom.js' %}"></script>

</body>

</html>