{% extends 'frame/base.html' %}
{% load stock_extra %}

{% block title %}庫存詳細資料{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mt-5">{{ item.item_sn }} - {{ item.item_name }}</h1>
            <p>更新時間: {{ item.item_updatetime|date:"Y-m-d H:i" }}</p>
            {% if item.item_isvalid and not user.get_username == "ina_pt"%}
            <a href="{% url 'Item_update' item.id %}" class="btn btn-primary">編輯</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h2>詳細資料</h2>
            <table class="table table-hover table-borderless">
                <tbody>
                    <tr>
                        <th scope="raw">狀態</th>
                        <td class="text-danger">
                            {% if not item.item_isvalid %}
                            已刪除
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="raw">料號</th>
                        <td>{{ item.item_sn }}</td>
                    </tr>
                    <tr>
                        <th scope="raw">名稱</th>
                        <td>{{ item.item_name }}</td>
                    </tr>
                    <tr>
                        <th scope="raw">分類</th>
                        <td>{{ item.item_cate }}</td>
                    </tr>
                    <tr>
                        <th scope="raw">主規格</th>
                        <td>{{ item.item_specmain }}</td>
                    </tr>
                    <tr>
                        <th scope="raw">副規格</th>
                        <td>{{ item.item_specsub }}</td>
                    </tr>
                    <tr>
                        <th scope="raw">庫存數量</th>
                        <td>{{ item.item_cnt }}</td>
                    </tr>
                    <tr>
                        <th scope="raw">備註</th>
                        <td>{{ item.item_remark }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>出入庫紀錄</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">時間</th>
                        <th scope="col">出入庫</th>
                        <th scope="col">單價</th>
                        <th scope="col">幣別</th>
                        <th scope="col">數量</th>
                        <th scope="col">總價</th>
                        <th scope="col">廠商</th>
                        <th scope="col">專案</th>
                        <th scope="col">倉庫</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stock_list %}
                    {% if stock.stock_change == "入庫" %}
                    <tr>
                    {% else %}
                    <tr class="table-danger">
                    {% endif %}
                        <td>{{ stock.stock_time|date:"Y/m/d" }}</td>
                        <td>{{ stock.stock_change }}</td>
                        <td class="text-right">{{ stock.stock_price|moneycent }}</td>
                        <td>{{ stock.stock_currency }}</td>
                        {% if stock.stock_change == "入庫" %}
                            <td class="text-right">{{ stock.stock_cnt }}</td>
                            <td class="text-right">{{ stock.totalprice|moneycent }}</td>
                        {% else %}
                            <td class="text-right">-{{ stock.stock_cnt }}</td>
                            <td class="text-right">-{{ stock.totalprice|moneycent }}</td>
                        {% endif %}
                        <td>{{ stock.stock_comp.comp_name }}</td>
                        <td>{{ stock.stock_proj.proj_name }}</td>
                        <td>{{ stock.stock_warehouse.house_name }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9">目前沒有資料！</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}