{% extends 'frame/base.html' %}

{% block title %}寶晶清單{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mt-5">寶晶單位一覽</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive-sm">
                <div class="table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="width:6em">單位編號</th>
                                <th scope="col">單位簡稱</th>
                                <th scope="col">單位全名</th>
                                <th scope="col">備註</th>
                                <th scope="col">動作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ina in inaunit_list %}
                            <tr>
                                <td>{{ ina.ina_id }}</td>
                                <td>{{ ina.ina_shortname }}</td>
                                <td>{{ ina.ina_name }}</td>
                                <td>{{ ina.ina_remark }}</td>
                                <td>
                                    {% if not user.get_username == "ina_pt" %}
                                    <a href="{% url 'Ina_update' ina.id %}" class="btn btn-outline-primary btn-sm" role="button">編輯</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <td>{{ form.ina_id }}</td>
                                    <td>{{ form.ina_shortname }}</td>
                                    <td>{{ form.ina_name }}</td>
                                    <td>{{ form.ina_remark}}</td>
                                    <td>
                                        {{ form.ina_isvalid }}
                                        <button class="btn btn-primary btn-sm" type="submit">新增</button>
                                    </td>
                                </form>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}