{% extends 'frame/base.html' %}

{% block title %}更新寶晶單位{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mt-5">更新單位: {{ inaunit.ina_id }}-{{ inaunit.ina_shortname }}</h1>

        </div>
    </div>
    <form class="needs-validation" action="" method="POST" novalidate>
        {% csrf_token %}
        <div class="form-row mb-3">
            <div class="col-lg-3">
                <label for="id_{{ form.ina_id.name }}">單位編號</label>
                {{ form.ina_id }}
            </div>
            <div class="col-lg-3">
                <label for="id_{{ form.ina_shortname.name }}">單位簡稱</label>
                {{ form.ina_shortname }}
            </div>
            <div class="col-lg">
                <label for="id_{{ form.ina_name.name }}">單位全名</label>
                {{ form.ina_name }}
            </div>
        </div>
        <div class="form-row mb-3 align-items-end">
            <div class="col-lg-12">
                <label for="id_{{ form.ina_remark.name }}">備註</label>
                {{ form.ina_remark }}
            </div>
        </div>
        <div class="form-row mb-3">
          <div class="col-lg-12">
            <input class="btn btn-outline-primary" type="reset" value="清除輸入">
            <button class="btn btn-primary" type="submit">儲存</button>
          </div>
        </div>
    </form>
</div>


{% endblock %}