{% extends 'frame/base.html' %}

{% block title %}廠商清單{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mt-5">公司一覽</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive-sm">
                <div class="table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="width:6em">公司序號</th>
                                <th scope="col">公司名稱</th>
                                <th scope="col">聯絡人</th>
                                <th scope="col">連絡電話</th>
                                <th scope="col">備註</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for comp in comp_list %}
                            <tr>
                                <td>{{ comp.comp_id }}</td>
                                <td>{{ comp.comp_name }}</td>
                                <td>{{ comp.comp_spon }}</td>
                                <td>{{ comp.comp_tel }}</td>
                                <td>{{ comp.comp_remark }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}