{% extends 'frame/base.html' %}

{% block title %}編輯庫存出入庫{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mt-5">編輯庫存出入庫: {{ stock.stock_id }} - {{ stock.stock_sn.item_name }} {{ stock.stock_change }}</h1>
        </div>
    </div>
    <form class="needs-validation" action="" method="POST" novalidate oninput="sumvalue.value=Math.round({{ form.stock_cnt.id_for_label }}.value*{{ form.stock_price.id_for_label }}.value*100)/100">
        {% csrf_token %}
        <div class="form-row mb-3 align-items-end">
            <div class="col-lg-3">
                <label for="stock_id">單號</label>
                <h5>{{ stock.stock_id }}</h5>
            </div>
            <div class="col-lg-3">
                <label for="stock_id">出/入庫</label>
                <h5>{{ stock.stock_change }}</h5>
            </div>
            <div class="col-lg-3">
                <label for="stock_time">時間</label>
                <h5>{{ stock.stock_time|date:"m月d日, Y年" }}</h5>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-lg-3">
                <label for="item_sn">料號</label>
                <h5>{{ stock.stock_sn.item_sn }}</h5>
            </div>
            <div class="col-lg-3">
                <label for="item_name">品項</label>
                <h5>{{ stock.stock_sn.item_name }}</h5>
            </div>
            <div class="col-lg-3">
                <label for="item_specmain">規格一</label>
                <h5>{{ stock.stock_sn.item_specmain }}</h5>
            </div>
            <div class="col-lg-3">
                <label for="item_specsub">規格二</label>
                <h5>{{ stock.stock_sn.item_specsub }}</h5>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-lg-3">
                <label for="id_{{ form.stock_cnt.name }}">數量</label>
                {{ form.stock_cnt }}
            </div>
            <div class="col-lg-3">
                <label for="id_{{ form.stock_currency.name }}">幣別</label>
                {{ form.stock_currency }}
            </div>
            <div class="col-lg-3">
                <label for="id_{{ form.stock_price.name }}">單價</label>
                {{ form.stock_price }}
            </div>
            <div class="col-lg-3">
                <label for="id_{{ form.stock_price.name }}">總價</label>
                <output name="sumvalue" for="id_{{ form.stock_cnt.name }} id_{{ form.stock_price.name }}" class="form-control-plaintext"></output>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-lg-3">
                <label for="id_{{ form.stock_comp.name }}">廠商</label>
                {{ form.stock_comp }}
            </div>
            <div class="col-lg-3">
                <label for="id_{{ form.stock_inaunit.name }}">寶晶單位</label>
                {{ form.stock_inaunit }}
            </div>
            <div class="col-lg-3">
                <label for="id_{{ form.stock_proj.name }}">專案</label>
                {{ form.stock_proj }}
            </div>
            <div class="col-lg-3">
                <label for="id_{{ form.stock_warehouse.name }}">倉庫</label>
                {{ form.stock_warehouse }}
            </div>
        </div>

        <div class="form-row mb-3">
            <div class="col-lg-3">
                <label for="id_{{ form.stock_sign.name }}">簽收人</label>
                {{ form.stock_sign }}
            </div>
        </div>

        <div class="form-row mb-3">
            <div class="col-lg-9">
              <a href="/stock/item/" class="btn btn-outline-danger">取消</a>
              <input class="btn btn-outline-primary" type="reset" value="清除輸入">
              <button class="btn btn-primary" type="submit">儲存</button>
            </div>
            <div class="col-lg-3">
              <a href="{% url 'Stockv3_delete' stock.id %}" class="btn btn-danger">刪除</a>
            </div>
        </div>
    </form>
</div>


{% endblock %}