{% extends 'frame/base.html' %}

{% block title %}庫存進出貨清單{% endblock %}
{% block content %}
<h1 class="mt-5">庫存進出貨清單</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="add/" class="btn btn-primary">新增</a>
        </div>
    </div>
</div>


{% if stock_list %}
    <table class="table table-hover table-responsive-xl">
        <thead>
            <tr>
                <th scope="col">項次</th>
                <th scope="col">料號</th>
                <th scope="col">品名</th>
                <th scope="col">規格一</th>
                <th scope="col">規格二</th>
                <th scope="col">數量</th>
                <th scope="col">合計</th>
                <th scope="col">單價</th>
                <th scope="col">金額合計</th>
                <th scope="col">入庫日期</th>
                <th scope="col">出庫日期</th>
                <th scope="col">廠商</th>
                <th scope="col">公司別</th>
                <th scope="col">倉庫</th>
                <th scope="col">專案</th>
                <th scope="col">簽收人</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stock_list %}
            <tr><a href="">
                <td>{{ stock.stock_id }}</td>
                <td>{{ stock.stock_serial }}</td>
                <td>{{ stock.stock_name }}</td>
                <td>{{ stock.stock_specmain }}</td>
                <td>{{ stock.stock_specsub }}</td>
                <td>{{ stock.stock_cnts }}</td>
                <td>{{ stock.stock_totalcnt }}</td>
                <td>{{ stock.stock_price }}</td>
                <td>{{ stock.stock_totalprice }}</td>
                <td>{{ stock.stock_intime }}</td>
                <td>{{ stock.stock_outtime }}</td>
                <td>{{ stock.stock_comp }}</td>
                <td>{{ stock.stock_compcatgo }}</td>
                <td>{{ stock.stock_warehouse }}</td>
                <td>{{ stock.stock_project }}</td>
                <td>{{ stock.stock_sign }}</td>
                <td>
                    <a href="{% url 'UpdateStock' stock.id %}" class="btn btn-outline-primary btn-sm" role="button">修改</a>
                    <a href="{% url 'DeleteStock' stock.id %}" class="btn btn-outline-danger btn-sm" role="button">刪除</a>
                </td></a>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
<p>沒有資料！</p>
{% endif %}


{% endblock %}